body {
    margin: 0;
    background-color: var(--bg-color);

}
hr {
    height: 5px;
    background-color: #7ab7f1;
    width: 90%;
}
:root {
    --bg-color: honeydew;
    --width: 700px;
    --height: 500px;
}
.h1-header {
    font-size: 60px;
    text-align: center;
    text-shadow: 5px 5px 3px black;
}
.heder-section {
    text-align: center;
    font-size: 36px;
    border: 3px solid black;
    max-width: 900px;
    margin: 40px auto;
}
.menu-img {
    height: var(--height);
    width: var(--width);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 10px 0;
}

button {
    font-size: 30px;
    background-color: #7ab7f1;
    border: 5px solid black;
    padding: 5px;
    width: 600px;
    height: 50px;

}